table {
    width: 100%;
}

.btn-primary {
    --bs-btn-padding-x: .20rem;
    --bs-btn-padding-y: .20rem;
    --bs-btn-font-size: .70rem;
    --bs-btn-bg: rgb(29, 172, 216);
    --bs-btn-border-color: rgb(29, 172, 216);
}

.btn-danger {
    --bs-btn-padding-x: .20rem;
    --bs-btn-padding-y: .10rem;
    --bs-btn-font-size: .70rem;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

.hover:hover {
    background-color: crimson;
}

.color1 {
    background-color: darkcyan;
}

.color2{
    background-color: orange;
}