
<div class="container">
    <h1 class="text-center">Interview task</h1>
    <div class="row">
        <div class="col d-flex justify-content-center pb-3">
            <button class="m-1 btn btn-primary btn-sm" (click)="viewColor()">Colored rows</button>
            <button class="m-1 btn btn-primary" (click)="sortCountry()">Sort by country</button>
            <button class="m-1 btn btn-primary" (click)="restore()">Restore the init state</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th *ngFor="let column of columnsName" scope="col">{{column}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let users of newUser; let i=index" [class]="changeColor(i)" class="hover">
                    <td>
                        <img [src]="users.image" alt="">
                    </td>
                    <td>{{users.name}}</td>
                    <td>{{users.surname}}</td>
                    <td>{{users.country}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

  
  

