table {
    width: 100%;
}

button {
    --bs-btn-padding-x: .20rem;
    --bs-btn-padding-y: .20rem;
    --bs-btn-font-size: .70rem;
    --bs-btn-bg: rgb(29, 172, 216);
    --bs-btn-color: white;
    --bs-btn-border-color: rgb(29, 172, 216);

}

td, th {
    text-align: center;
    vertical-align: middle;
}

.hover:hover {
    background-color: crimson;
}



.color1 {
    background-color: darkcyan;
}

.color2{
    background-color: orange;
}